.footer{
    align-items: center;
    width: 100%;
    background-color: #2e054e;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
    position: relative;
}
.footer1{
    display: flex;
    flex-direction: column;
    max-width: 1432px;
    padding: 56px 92px;
}
.footer_top{
    display: flex;
    justify-content: space-between;

}
.footer_description{
    width:40%;
}
.logo{
    align-items: center;
    border: none;
    color: #fff;
    display: flex;
    font-family: font-demi-italic;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
    outline: 0;
    text-decoration: none;
}
.logo img{
    height: 43px;
    fill:none;
    
 
}
p{
    color: #fff;
    font-family: font-book;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 32px;
}
p span{
    color: #fff;
    font-family: font-book;
    font-size: 15px;
    line-height: 19px;
}
.socialIcons{
    margin-bottom: 32px;
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 30px;
}
.p1{
    color: #fff;
    font-family: font-book;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 32px;
}
.p1 .span1{
    color: #fff;
    font-family: font-book;
    font-size: 15px;
    line-height: 19px;
}
.footer_middle {
    display: flex;
    flex-direction: column;
    padding-left: 88px;
    width: 26%;
}
.footer_middle .head4{
    color: #fff;
    font-family: font-demi;
    font-size: 13px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.footer_middle .links_sectionWrap{
    display: flex;
    flex-direction: row;
    height: 225px;
}
.links_sectionWrap .links_section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}
.links_section a{
    color: #fff;
    display: inline;
    font-family: font-book;
    font-size: 15px;
    line-height: 19px;
    margin-right: 48px;
    padding-bottom: 6px;
    text-decoration: none;
}
.footer_right {
    display: flex;
    flex-direction: column;
    padding-left: 88px;
    width: 26%;
}
.heading{
    color: #fff;
    font-family: font-demi;
    font-size: 13px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.buysection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.buysection a{
    color: #fff;
    display: inline;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none;
}
.buysection a .title{
    color: #fff;
    display: inline;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
}
.buysection a .line{
    color: #fff;
    font-family: font-demi;
    font-size: 13px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.footerbutton_section{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.callsectionmain{
    align-items: center;
    background-color: #ed264f;
    border: 2px solid #ed264f;
    color: #fff;
    display: flex;
    font-family: font-demi;
    font-size: 16px;
    justify-content: center;
    line-height: 45px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 180px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}
.callsectionmain span{
    margin-left: 1em;
    font-size: 18px;
    font-weight: 300;
}
.callsecbtn{
    background: 0 0;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 45px;
    margin-bottom: 20px;
    margin-left: 24px;
    text-align: center;
    text-decoration: none;
    width: 180px;
}